.menu {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 0;
    margin: 40px 0;
}

.price {
    text-align: center;
    color: red;
    font-size: 20px;
}

.product-info {
    float: left;
    height: auto;
    width: 100%;
    padding: 10px;

}

.menu1 {
    float: left;
    width: 100%;
}

.menu li {
    cursor: pointer;
}

.header {
    text-align: center;
}

.box1 {}

.product-container {
    width: calc(25% - 20px);
    float: left;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

    transition: all 300ms ease;
}

.product-container:hover {
    box-shadow: 0px 0px 20px blue;

    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
}